<div id="adminPanelContainer" style="display: none">
    <button id="backAdminPanelBtn">Retour</button>
    <div class="powerContainer">
        <label class="power">
            <input type="checkbox" id="autoScroll" checked />
            <div>
                <svg viewBox="0 0 44 44">
                    <path
                        d="M22,6 C31,6 38,13 38,22 C38,31 31,38 22,38 C13,38 6,31 6,22 C6,13 13,6 22,6 L22,28"
                        id="path"
                    ></path>
                </svg>
            </div>
        </label>
        AutoScroll
    </div>

    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>

    <div class="content">
        <div id="adminPanelLogin">
            <h1>Panel Admin</h1>
            <p>
                Pour accéder au Panel Admin, vous devez vérifier votre Identité,
                pour cela, vous devrez accepter la demande de connection qui
                vous sera envoyée via Discord
            </p>
            <button id="sendDiscordConfirmBtn">Vérifier mon Identité</button>
        </div>
    </div>
    <div id="adminPanelContent" style="display: none">
        <figure class="tabBlock">
            <ul class="tabBlock-tabs">
                <li class="tabBlock-tab is-active" id="adminPanelPlayersTab">
                    Joueurs
                </li>
                <li class="tabBlock-tab" id="adminPanelScreenshotsTab">
                    Screenshots
                </li>
                <li class="tabBlock-tab" id="adminPanelMinageTab">Minage</li>
                <li class="tabBlock-tab" id="adminPanelDeltaTab">Delta</li>
                <li class="tabBlock-tab" id="adminPanelMaintenanceTab">
                    Maintenance
                </li>
                <li class="tabBlock-tab" id="adminPanelNewzenBotTab">
                    NewzenBot
                </li>
                <li class="tabBlock-tab" id="adminPanelDevTab">
                    Développement
                </li>
            </ul>
            <div class="tabBlock-content">
                <div class="tabBlock-pane">
                    <!-- Onglet Joueurs -->
                    <button id="sendNotifWhenScreenshotBtn">
                        Envoyer une Notification lors de la Capture d'écran :
                        <span id="sendNotifWhenScreenshotSpan">Oui</span>
                    </button>
                    <ul id="adminPanelPlayerList"></ul>
                </div>
                <div class="tabBlock-pane" id="adminPanelScreenshots">
                    <!-- Onglet Screenshots -->
                    <ul id="adminPanelScreenshotsList"></ul>
                </div>
                <div class="tabBlock-pane">
                    <!-- Onglet Minage -->
                    <div id="minageStatus" class="serverStatus unknown">
                        <div class="online-indicator">
                            <span class="blink"></span>
                        </div>
                        <h2 class="online-text">Inconnu</h2>
                    </div>
                    <div>
                        <button
                            class="serverStartBtn"
                            id="minageStartBtn"
                            disabled
                        >
                            Démarrer
                        </button>
                        <button
                            class="serverSetReadyBtn"
                            id="minageSetReadyBtn"
                            disabled
                        >
                            Définir comme Prêt
                        </button>
                        <button
                            class="serverStopBtn"
                            id="minageStopBtn"
                            disabled
                        >
                            Arrêter
                        </button>
                        <button
                            class="serverKillBtn"
                            id="minageKillBtn"
                            disabled
                        >
                            Tuer
                        </button>
                    </div>
                    <pre>
                        <output class="terminal" id="minageTerm"></output>
                    </pre>
                </div>
                <div class="tabBlock-pane">
                    <!-- Onglet Delta -->
                    <div id="deltaStatus" class="serverStatus unknown">
                        <div class="online-indicator">
                            <span class="blink"></span>
                        </div>
                        <h2 class="online-text">Inconnu</h2>
                    </div>
                    <div>
                        <button
                            class="serverStartBtn"
                            id="deltaStartBtn"
                            disabled
                        >
                            Démarrer
                        </button>
                        <button
                            class="serverSetReadyBtn"
                            id="deltaSetReadyBtn"
                            disabled
                        >
                            Définir comme Prêt
                        </button>
                        <button
                            class="serverStopBtn"
                            id="deltaStopBtn"
                            disabled
                        >
                            Arrêter
                        </button>
                        <button
                            class="serverKillBtn"
                            id="deltaKillBtn"
                            disabled
                        >
                            Tuer
                        </button>
                    </div>
                    <pre>
                        <output class="terminal" id="deltaTerm"></output>
                    </pre>
                </div>
                <div class="tabBlock-pane">
                    <!-- Onglet Maintenance -->
                    Onglet Maintenance
                    <div class="toggleWrapper">
                        <input type="checkbox" id="maintenanceMode" />
                        <label for="maintenanceMode" class="toggle"></label>
                    </div>
                </div>
                <div class="tabBlock-pane">
                    <!-- Onglet NewzenBot -->
                    Onglet NewzenBot
                </div>
                <div class="tabBlock-pane">
                    <!-- Onglet Développement -->
                    Onglet Développement
                </div>
            </div>
        </figure>
    </div>
    <script src="./assets/js/scripts/adminPanel.js"></script>
</div>
