<div id="adminPanelContainer" style="display: none">
    <button id="backAdminPanelBtn">
        <span id="backAdminPanelSVG"></span>
    </button>

    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>

    <div class="content">
        <input class="c-checkbox" type="checkbox" id="checkbox" />
        <div class="c-formContainer">
            <form class="c-form" action="" id="adminPanelBackToLogin">
                <input
                    class="c-form__input"
                    placeholder="Mot de Passe"
                    type="password"
                    required
                />
                <label class="c-form__buttonLabel" for="checkbox">
                    <button
                        class="c-form__button"
                        type="button"
                        id="adminPanelLoginBtn"
                    >
                        Login
                    </button>
                </label>
                <label
                    class="c-form__toggle"
                    for="checkbox"
                    data-title="Accéder au Panel Admin"
                ></label>
            </form>
        </div>
    </div>
    <script src="./assets/js/scripts/adminPanel.js"></script>
</div>
