<div id="adminPanelContainer" style="display: none">
    <button id="backAdminPanelBtn">
        <!-- <span id="backAdminPanelSVG"></span> -->
        Retour
    </button>

    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>

    <div class="content">
        <div id="adminPanelLogin">
            <h1>Panel Admin</h1>
            <p>
                Pour accéder au Panel Admin, vous devez vérifier votre Identité,
                pour cela, vous devrez accepter la demande de connection qui
                vous sera envoyée via Discord
            </p>
            <button id="sendDiscordConfirmBtn">Vérifier mon Identité</button>
        </div>
    </div>
    <div id="adminPanelContent" style="display: none">
        <figure class="tabBlock">
            <ul class="tabBlock-tabs">
                <li class="tabBlock-tab is-active">Joueurs</li>
                <li class="tabBlock-tab">BungeeCord</li>
                <li class="tabBlock-tab">Lobby</li>
                <li class="tabBlock-tab">Main</li>
                <li class="tabBlock-tab">Maintenance</li>
                <li class="tabBlock-tab">NewzenBot</li>
                <li class="tabBlock-tab">Développement</li>
            </ul>
            <div class="tabBlock-content">
                <div class="tabBlock-pane">
                    Onglet Joueurs
                </div>
                <div class="tabBlock-pane">
                    Onglet Bungee
                </div>
                <div class="tabBlock-pane">
                    Onglet Lobby
                </div>
                <div class="tabBlock-pane">
                    Onglet Main
                </div>
                <div class="tabBlock-pane">
                    Onglet Maintenance
                </div>
                <div class="tabBlock-pane">
                    Onglet NewzenBot
                </div>
                <div class="tabBlock-pane">
                    Onglet Développement
                </div>
            </div>
        </figure>
    </div>
    <script src="./assets/js/scripts/adminPanel.js"></script>
</div>
